{{#partial "content"}}
    <!--home section starts-->
    <section class="home" id="home">
        <div class="content">
            <h3>Welcome to Wildlife<span>tracking</span></h3>
            <a href="/animals/new" class="btn">Add animal</a>
        </div>

        <div class="image">
            <img src="images/lion3.png" alt="">
        </div>

    </section>
    <!--home section ends-->
{{/partial}}

{{> layout.hbs}}