{{#partial "content"}}
    <section class="display-part">
        <div class="add-sighting">
            <a href="/sightings/new"><button class="btn btn-unique">Add New Sighting</button></a>
        </div>
        <hr>
        <br>
        <h2>LIST OF SIGHTINGS</h2>
        <div class="row container">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <th>Animal Id</th>
                    <th>Ranger Name</th>
                    <th>Location Name</th>
                    </thead>
                    <tbody>
                    {{#each sightings}}
                        <tr>
                            <td>{{animal_id}}</td>
                            <td>{{rangerName}}</td>
                            <td>{{location}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </section>

{{/partial}}

{{> layout.hbs}}
