{{#partial "content"}}
    <section class="display-part">
        <div class="add-animals">
            <a href="/animals/new"><button class="btn btn-unique">Add New Non-Endangered animal</button></a>
            <a href="/endangered"><button class="btns btn-danger">View Endangered animals</button></a>
        </div>
        <hr>
        <br>
        <h1>List of Non-Endangered Animals</h1>
        <div class="row container">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <th>Animal name</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>
                    {{#each animals}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a class="text-danger" href="/animals/{{id}}/delete"><span class="material-icons-outlined">
                                    delete
                                </span></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

{{/partial}}

{{> layout.hbs}}
