{{#partial "content"}}

    <section class="display-form">
        <form class="animal-form" action="/animals" method="post">
            <div class="form-group">
                <label for="name">Animal Name:</label><br>
                <input type="text" class="form-control" name="animalName" id="animalName" placeholder="What is the animal name?">
            </div>
            <br>
            <button type="submit" class="btns btn-danger btn-lg my-2 my-sm-0 mt-2">Submit</button>
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}