{{#partial "content"}}
    <section class="display-part">
        <div class="add-ranger">
            <a href="/locations/new"><button class="btn btn-unique">Add New Location</button></a>
        </div>
        <hr>
        <br>
        <h2>LIST OF LOCATIONS</h2>
        <div class="row container">
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <th>Locations</th>
                    <th>Edit location</th>
                    <th>Delete location</th>
                    </thead>
                    <tbody>
                    {{#each locations}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a class="text-danger" href="/locations/{{id}}/update"><span class="material-icons-outlined">
                                    Edit
                                </span></a></td>
                            <td><a class="text-danger" href="/locations/{{id}}/delete"><span class="material-icons-outlined">
                                    Delete
                                </span></a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

{{/partial}}

{{> layout.hbs}}