{{#partial "content"}}
    <section class="display-part">
        <div class="add-ranger">
            <a href="/rangers/new"><button class="btn btn-unique">Add New Ranger</button></a>
        </div>
        <hr>
        <br>
        <h2>LIST OF RANGERS</h2>
        <div class="row container">
            <div class="col-md-1"></div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <th>Ranger Name</th>
                    <th>badge Number</th>
                    </thead>
                    <tbody>
                    {{#each rangers}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{badge_number}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </section>
{{/partial}}

{{> layout.hbs}}
