{{#partial "content"}}

    <section class="display-sightings">
        <h2>LIST OF SIGHTINGS</h2>
        <div class="container">
        {{#if sightings}}
            <table class="table table-striped">
                <thead class="thead-dark">
                <th>Ranger Name</th>
                <th>Animal Name</th>
                <th>Location Name</th>
                </thead>
                <tbody>
                {{#each sightings}}
                    <tr>
                        <td>{{rangerName}}</td>
                        <td>{{animal_id}}</td>
                        <td>{{location}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
        {{else}}
                <ul class="sighting">
                    <li id="sightingList">
                        <a href="#" id="sightingListLink">
                            <h2>Sorry</h2>
                            <p>No Sightings Available</p>
                        </a>
                    </li>
                </ul>
        {{/if}}
    </section>

{{/partial}}

{{> layout.hbs}}
