{{#partial "content"}}
    <section class="display-part">
        <form action="/sightings" method="POST" class="display-form">
            <div class="card">
                <div class="card-body mx-4">
                    <div class="text-center">
                        <h2 class="dark-grey-text mb-5"><strong>Create A Sighting</strong></h2>
                    </div>
                    <div class="form-group">
                        <label for="animal_id">Animal</label><br>
                        <input type="number" class="form-control" name="animal_id" id="animal_id" placeholder="What is the animal id?">

                    </div>
                    <div class="form-group">
                        <label for="rangers">Ranger</label><br>
                        <select class="form-control" name="rangerName" id="ranger">
                            <option value="null">---options---</option>
                            <option value="stephen">Stephen</option>
                            <option value="mary">Mary</option>
                            <option value="edwin">Edwin</option>
                            <option value="jane">Jane</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label><br>
                        <select class="form-control" name="location" id="location">
                            <option value="null">---Eg Zone A---</option>
                            <option value="zone A">Zone A</option>
                            <option value="zone B">Zone B</option>
                            <option value=river">Near the River</option>
                            <option value="quadrant">NE Quadrant</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-light btn-block" id="submitSighting">Create Sighting</button>
                </div>
            </div>
        </form>
    </section>

{{/partial}}

{{> layout.hbs}}
